In [1]:
#라이브러리 로딩하기
import numpy as np

### ndarray 생성하기(1차원)

In [2]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [3]:
# 앞쪽에 array 하고 소괄호 안쪽에 데이터가 들어가 있는 형태를 numpy 배열 이라고 한다.
arr1 = np.array(list1)
arr1

array([1, 2, 3, 4, 5])

### ndarray 생성하기(2차원)

In [4]:
#가로축 -> 행, 세로축 -> 열
arr2 = np.array([[1,2,3],[4,5,6]])
arr2

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
#3차원 
arr3 = np.array([[[1,2,3],[4,5,6]] , [[7,8,9],[10,11,12]]])
arr3

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

### ndarray 객체의 속성을 활용해서 자료구조 파악하기!
- 배열의 크기 확인하기 : shape

In [6]:
#배열명.shape 
print(arr1.shape) # 1차원은 -> 데이터의 개수 
print(arr2.shape) # 2차원은 -> (행,열)

(5,)
(2, 3)

- 배열의 요소개수 확인하기 : size

In [7]:
print(arr1.size)
print(arr2.size)

5
6

- 배열의 차원 확인하기 : ndim

In [8]:
# 배열명.ndim
print(arr1.ndim)
print(arr2.ndim)

1
2

- 배열의 타입 확인하기 : dtype

In [9]:
print(arr1.dtype)
print(arr2.dtype)

int32
int32

In [10]:
print(f'배열의 크기 : {arr3.shape}\n') 
print(f'배열의 차원 : {arr3.ndim}') 
print(f'배열의 개수 : {arr3.size}')

배열의 크기 : (2, 2, 3)

배열의 차원 : 3
배열의 개수 : 12

### 특정한 값으로 배열 생성하기
- 배열 안에 있는 값들을 특정한 값으로 초기화 하면서 생성하기

In [11]:
#배열의 값을 0으로 초기화하면서 생성하기 # 튜플형식으로 적어야함 (())
arr_zero=np.zeros((2,3)) # 2차원배열 생성시 (행,열)
arr_zero

array([[0., 0., 0.],
       [0., 0., 0.]])

In [12]:
# 데이터를 하나만 넣으면? 1차원 배열의 개수이다
np.zeros(3)

array([0., 0., 0.])

In [13]:
# 배열안의 모든값들을 1로 초기화하면서 생성하기
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [14]:
# 배열안의 모든 값들을 내가 원하는 값으로 초기화하면서 생성하기
# np.full((행,열),내가원하는 값)
np.full((2,3),7)

array([[7, 7, 7],
       [7, 7, 7]])

- 1부터 50까지 숫자데이터를 가지고 있는 1차원 arr4 생성

In [15]:
list2=[]
for i in range(1,51) :
    list2.append(i)
    
arr4 = np.array(list2)
arr4

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [16]:
# arange(시작값, 끝값+1, 증감값)
arr5 = np.arange(1,51,1)
arr5

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [17]:
#1부터 50까지 4씩 증가하는 arr6생성
arr6 = np.arange(1,51,4)
arr6

array([ 1,  5,  9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49])

- 랜덤값 집어넣어서 배열 생성하기

In [18]:
# np.random.randint(시작값, 끝값+1, size = 배열의 크기)
arr_ran=np.random.randint(2,10, size = (2,3))
arr_ran

array([[8, 6, 4],
       [3, 6, 5]])

In [19]:
#size를 적어주지 않을 경우에는? -> 1차원 배열이 생성된다.
np.random.randint(2,10)

4

- 배열의 타입을 지정하면서 배열 생성하기!

- 배열의 타입 변경하기
    - 배열명.astype(타입)

In [20]:
# 내가 원하는 배열의 타입으로 지정해서 생성!
arr_type=np.array([1.1,2.2], dtype=np.int64)
arr_type

array([1, 2], dtype=int64)

In [21]:
# 배열의 타입 변경하기
arr_type.astype('float64')

array([1., 2.])

 ### Array 연산
 - numpy는 기본적으로 array 간의 연산을 지원해준다 ( 요소별 연산 )
 - 행과 열이 같은 위치값이 연산이 된다 ex) [1,2,3] + [4,5,6] = [5,7,9]

In [22]:
arr_a = np.array([1,2,3])
arr_a

array([1, 2, 3])

In [23]:
arr_b = np.array([4,5,6])
arr_b

array([4, 5, 6])

In [24]:
arr_a+arr_b

array([5, 7, 9])

In [25]:
arr_a*arr_b

array([ 4, 10, 18])

In [26]:
arr_c = np.array([1,2,3,4,5])
arr_c

array([1, 2, 3, 4, 5])

In [27]:
# 덧셈과 뺼셈에서는 기본적으로 두행렬의 크기가 같아야 한다!
arr_a+arr_c #<- 오류

ValueError: operands could not be broadcast together with shapes (3,) (5,)

In [ ]:
#2차원 배열 연산
arr2_a=np.array([[1,2,3],[4,5,6]]) # <- 2차원은 대괄호 2개

arr2_b=np.array([[7,8,9],[10,11,12]])

In [ ]:
arr2_a+arr2_b

In [ ]:
#배열+ 숫자 = ?
arr2_a+5 #<- 각 요소에 5를 더해지게 됨

In [ ]:
arr2_b*2 #<- 각 요소에 2를 곱해지게 됨

 ### 인덱싱, 슬라이싱
 - 인덱싱 : 하나의 결과값을 가져오고 싶을 때 사용
 - 슬라이싱 : 여러개의 결과값을 가져오고 싶을 때 사용

##### 인덱싱

In [ ]:
# 1차원 배열 인덱싱
arr_1 = np.array([0,1,2,3,4,5,6])
arr_1

In [ ]:
# 숫자 2 인덱싱
arr_1[2]

In [ ]:
# 2차원 배열 인덱싱하기!
arr_2 = np.array([[1,2,3],[4,5,6]])
arr_2

In [ ]:
# 0행 가져오기 -> 2차원 배열에서 하나만 적어주면 행 인덱싱
arr_2[0]

In [ ]:
# 숫자 2 가져오기
arr_2[0][1]

In [ ]:
# 0행 1열 가져오는 또 다른 방법! # 이 방법은 np.array([][]) 방식으로 만들어야 되는 기능임
arr_2[0,1]
# 컴마를 기준으로 앞이 행 뒤가 열을 의미한다!

In [ ]:
list_3 = [[1,2,3,4,5,6], 
          [7,7,8,9,10,11,12]] 
# <- 이건 numpy 배열이 아님 그냥 리스트임
arr_3=[[1,2,3,4,5,6], 
          [7,7,8,9,10,11,12]] 

list_3 = np.array([[1,2,3,4,5,6], 
          [7,7,8,9,10,11,12]])
list_3

In [ ]:
# 숫자 9 가져오기
arr_3[1][3]

### 슬라이싱

In [ ]:
# 0부터 9까지 1씩 증가하는 1차원 배열 생성
arr_4 = np.arange(0,10,1)
arr_4

In [ ]:
# 2번 ~ 5번까지 슬라이싱
# 배열명[시작:끝+1]
arr_4[2:6]

In [ ]:
#특정 인덱스 부터 끝까지 가져오고 싶을 때 ! [ 시작인덱스 : ]
#3부터 끝까지
arr_4[3:]

In [ ]:
# 처음부터 특정인덱스까지 가져오고 싶을 때? [ : 끝 인덱스 ]
arr_4[:5]

In [ ]:
# 전체 데이터 가져오고 싶을 때는?
arr_4[:]

In [ ]:
arr_4

In [ ]:
# 슬라이싱한 곳에 한번에 데이터 넣기!
arr_4[2:5] = 7

In [ ]:
arr_4

In [ ]:
## 1부터 50까지 1차원 배열 생성하기 
# 배열명.reshape(행,열) -> 배열의 크기를 재배열
arr_5 = np.arange(1,51,1).reshape(5,10)
arr_5

In [ ]:
# 정확하게 모를 때는 -1 적어주기!
arr_5 = np.arange(1,51,1).reshape(5,-1)
arr_5

In [ ]:
# 2행 15 16 17 만 가져오는 슬라이싱기법
arr_5[1][4:7]
# arr_5[1,4:7] <- 이 방법도 됨

In [ ]:
arr_5[1,4:7]

In [ ]:
# 전체행의 0열만 출력해오기!
arr_5[:,0] # arr_5[:] < - 전체 행 // arr_5[,0] <- 1열

In [ ]:
arr_5

In [ ]:
# 3행의 전체열 출력 arr_5[행 , 열]
arr_5[3,:]

In [ ]:
arr_5

In [ ]:
# 전체 행의 0렬부터 2열까지 출력
arr_5[:,:3]

In [ ]:
# 22,33 만 가져오기 == [[행,행][열,열]]
arr_5[[2,3],[1,2]]

In [ ]:
# 11 22 33 = [[행,행,행],[열,열,열]]
arr_5[[1,2,3],[0,1,2]]

### BMI 계산 실습

In [ ]:
# txt 파일 불러오는 방법
data = np.loadtxt('height_weight(p).txt', delimiter = ',') 
# delimiter -> 데이터가 어떤 기호로 구분되어 있는 지 알려주는 속성

In [ ]:
data.shape # shape= 몇행 몇열인지 알려주는 함수

In [ ]:
data

In [ ]:
# BMI 지수 = 몸무게(kg) / 키(m)*키(m)

# 1. 키데이터 가져오기 - m 변수에 담아주기

# 2. 몸무게 데이터 가져오기 - kg 변수에 담아주기

# 3. 키 데이터 변환 (키 *0.01)

# 4. 몸무게 데이터 변환 (몸무게/2.204) : 파운드 -> kg

# 5. BMI 지수 구해주기

In [ ]:
# 1. 키데이터 가져오기 - m 변수에 담아주기
m=data[0]
m

In [ ]:
# 2. 몸무게 데이터 가져오기 - kg 변수에 담아주기
kg=data[1]
kg

In [ ]:
# 3. 키 데이터 변환
m = m*0.01

In [ ]:
# 4. 몸무게 데이터 변환 (몸무게/2.204) : 파운드 -> kg
kg = kg/2.204

In [ ]:
# 5. BMI 지수 구해주기 # 지수 = m**2 도 됨
BMI = kg/m**2

In [ ]:
BMI

### Boolean 인덱싱
- 조건에 해당하는 (True)인 값들만 출력해준다

In [ ]:
#임의의 점수데이터 
score = np.array([80,75,55,96,30])
score

In [ ]:
#현재는 단순한 논리연산만 해준 결과
score>=80

In [ ]:
# 논리연산이 참인 결과값만 출력해준다
score[score>=80]

In [ ]:
name = np.array(['영화','새롬','성국','창규'])
name

In [ ]:
bol = np.array([False, True, False, True]) # 앞글자는 대문자로 쓸것
bol

In [ ]:
name[bol] # True 인 값만 가져옴

In [ ]:
score2 = np.array([[60,70],[70,80],[90,20],[100,60]])
score2

In [ ]:
# 내가 찾고자하는 이름이 있나?
name == '유미'

In [ ]:
name == '성국'

In [ ]:
score2[name=='성국'] # 인덱스 자기 자리 번호값으로만 감 , name=='성국' 은 위에 [2]번자리 true 값 그대로 
#score2 [2] 값으로 올라감

### 범용함수 (Universally Funtion)
- numpy에서 제공해주는 함수

In [28]:

#sum() : 합계를 구해주는 함수
arr = np.array([1,2,3])
arr.sum()

6

In [36]:
# arr2 라고 하는 변수에 랜덤수 (1~10)이 담긴 크기가 2행 5열인 배열 생성후 더하기
arr2=np.random.randint(1,11, size = (2,5))
print(arr2)
print(arr2.sum())

[[ 1 10  8  2  2]
 [ 8  2  9  1  4]]
47

In [37]:
np.sum(arr2) #<= 이렇게 써도 됨 또다른 방법으로 sum 함수 사용가능!

47

In [31]:
# 평균을 구해주는 함수 : mean() -> 전체 요소값의 평균을 구해주는 함수
arr2.mean()

5.5

In [32]:
# 제곱근을 구하는 함수 : sqrt
arr3 = np.array([1,4,9,16,25])
arr3

array([ 1,  4,  9, 16, 25])

In [33]:
arr3.sqrt() #<- 이렇게 쓰면 안됨

AttributeError: 'numpy.ndarray' object has no attribute 'sqrt'

In [35]:
np.sqrt(arr3) #<- 이렇게 써야 됨

array([1., 2., 3., 4., 5.])

In [45]:
#절대값을 구해주는 함수 : abs()
np.abs([-1,2,-3,4,-5])

array([1, 2, 3, 4, 5])

### 영화 평점 데이터 분석

In [48]:
# 데이터 가져오기!
m_data = np.loadtxt('ratings.txt', delimiter = '::',dtype='int') # delimiter = 구분 
# dtype='int' 닫는 소괄호 옆 + shift + tab : 툴팁 열어서 type 확인하고 float 타입을 -> int 타입으로 바꿔줌 
m_data
# 사용자 아이디, 영화 고유번호 , 영화 평점 , 영화 시간

array([[        1,      1193,         5, 978300760],
       [        1,       661,         3, 978302109],
       [        1,       914,         3, 978301968],
       ...,
       [     6040,       562,         5, 956704746],
       [     6040,      1096,         4, 956715648],
       [     6040,      1097,         4, 956715569]])

In [49]:
#차원 -> 2차원
m_data.ndim

2

In [50]:
#크기 -> 1000209행 4열을 가지는 데이터
m_data.shape

(1000209, 4)

In [51]:
#데이터의 개수 -> 4000836개의 데이터
m_data.size

4000836

- 전체평점의 평균 구하기~

In [60]:
#전체 자료에서 평점만 가져온 후에 평균 구해주기! -> 슬라이싱 이용하기
np.mean(m_data[:,2]) # 전체행에서 3열만 가져옴

3.581564453029317

### 사용자별 평점 평균 구하기
- 1번 사용자의 평점 평균 구하기

In [62]:
# 데이터 중복을 제거하고 출력해주는 함수 : np.unique()
np.unique(m_data[:,0]) # 전체 행에서 0열만 가져옴
#사용자 아이디만 가져오기

array([   1,    2,    3, ..., 6038, 6039, 6040])

In [69]:
# 1번 아이디를 가진 사용자만 가져오기 
rating=np.unique(m_data[:,0])
rating

array([   1,    2,    3, ..., 6038, 6039, 6040])

In [76]:
# 전체에서 ==1 인 값을 논리값으로 true를 뱉어냄 그리고 m_data[true]값인 1인 데이터를 뱉음 (불리언 인덱싱)
user1 = m_data[m_data[:,0]==1]

In [77]:
# user1 의 전체 길이
len(user1)

53

In [78]:
user1

array([[        1,      1193,         5, 978300760],
       [        1,       661,         3, 978302109],
       [        1,       914,         3, 978301968],
       [        1,      3408,         4, 978300275],
       [        1,      2355,         5, 978824291],
       [        1,      1197,         3, 978302268],
       [        1,      1287,         5, 978302039],
       [        1,      2804,         5, 978300719],
       [        1,       594,         4, 978302268],
       [        1,       919,         4, 978301368],
       [        1,       595,         5, 978824268],
       [        1,       938,         4, 978301752],
       [        1,      2398,         4, 978302281],
       [        1,      2918,         4, 978302124],
       [        1,      1035,         5, 978301753],
       [        1,      2791,         4, 978302188],
       [        1,      2687,         3, 978824268],
       [        1,      2018,         4, 978301777],
       [        1,      3105,         5, 978301713],
       [        1,      2797,         4, 978302039],
       [        1,      2321,         3, 978302205],
       [        1,       720,         3, 978300760],
       [        1,      1270,         5, 978300055],
       [        1,       527,         5, 978824195],
       [        1,      2340,         3, 978300103],
       [        1,        48,         5, 978824351],
       [        1,      1097,         4, 978301953],
       [        1,      1721,         4, 978300055],
       [        1,      1545,         4, 978824139],
       [        1,       745,         3, 978824268],
       [        1,      2294,         4, 978824291],
       [        1,      3186,         4, 978300019],
       [        1,      1566,         4, 978824330],
       [        1,       588,         4, 978824268],
       [        1,      1907,         4, 978824330],
       [        1,       783,         4, 978824291],
       [        1,      1836,         5, 978300172],
       [        1,      1022,         5, 978300055],
       [        1,      2762,         4, 978302091],
       [        1,       150,         5, 978301777],
       [        1,         1,         5, 978824268],
       [        1,      1961,         5, 978301590],
       [        1,      1962,         4, 978301753],
       [        1,      2692,         4, 978301570],
       [        1,       260,         4, 978300760],
       [        1,      1028,         5, 978301777],
       [        1,      1029,         5, 978302205],
       [        1,      1207,         4, 978300719],
       [        1,      2028,         5, 978301619],
       [        1,       531,         4, 978302149],
       [        1,      3114,         4, 978302174],
       [        1,       608,         4, 978301398],
       [        1,      1246,         4, 978302091]])

In [81]:
#인덱싱한 자료에서 평점만 가져오기 -> 평균구하기! 
avg1=np.mean(user1[:,2])
avg1
#user1[:,2].mean() 도 됨

4.188679245283019

- 전체 사용자의 각각 평균 평점 구해주기 !

In [83]:
user_uni=np.unique(m_data[:,0])

array([   1,    2,    3, ..., 6038, 6039, 6040])